.bordered {
  border-radius: 5px;
  border: 1px solid;
}

.file-preview-widget {
  padding: 1em;
}

.file-preview {
  font-size: small;
}

.file-preview-source {
  padding: 0.5em;
}

.file-preview-info {
  margin-top: 1em;
}

.file-preview-info .file-name {
  font-weight: bold;
}

.file-preview-info .section-title {
  font-weight: bold;
}

.corner-toast {
  background-color: rgba(20, 20, 24, 0.85);
  color: white;
  border-radius: 999px;
  padding: 0.4em 1em;
  font-weight: bold;
}

.marked {
  margin-left: 10px;
}

.marked .entry-label {
  color: #e0af68;
}
